.card{
    position: relative;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(235, 201, 54), rgb(2, 12, 44));
    width: 250px;
    height: 385px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 7px;
    border: 7px;
    border-style:groove;
    border-color:rgb(130, 107, 236);
    transition: 0.4s;
}

.card > img{
        object-fit: cover;
        object-position: center;
        border-radius: 2px;
        width: 250px;;
        height: 250px;;
}

.card > h3{
    margin: 5px;
    padding: 3px;
}

.card > ul{
    margin-bottom: 22px; padding-bottom: 8em;
    text-decoration: none; list-style:disc;
}
.card:hover{
    box-shadow: 0 0 10px rgb(29, 10, 100),
    0 0 20px rgb(0, 68, 255),
    0 0 30px rgb(55, 0, 255),
    0 0 40px rgb(21, 3, 51);
       transform: translate3d(0.1ch, 0.1in, 7em);
       background: linear-gradient(rgba(231, 211, 27, 0.6), rgb(0, 0, 0, 0.6));
       color: rgba(255, 255, 255, 0.5);
}