h1{
    margin: 0;
    font-size: 50px;
    padding-top: 20px;
    text-shadow: 4px 5px 2px white;
    font-family: 'Orbitron', sans-serif;
}

a{
    text-decoration: none;
}

input{
    width: 180px; height: 30px;
    padding: 5px;
    margin: 2px 7px;
    border-radius: 7px;
    border: solid blue 3px;
    background-color: rgb(240, 240, 135);
    font-family: 'Orbitron', sans-serif;
}

select{
    width: 180px; height: 30px;
    padding: 5px;
    margin: 2px 7px;
    border-radius: 7px;
    border: dashed blue 3px;
    background: none;
}