.body{
    background-image: url("https://browsecat.net/sites/default/files/pokemon-grass-background-128740-205983-5355154.png");
    background-size: 80%;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 50px;
}

.div > h3{
    display: flex;
    justify-content: center;
}

.filterDiv{
    color: red;
}