.body{
    background-image: url("https://browsecat.net/sites/default/files/pokemon-grass-background-128740-205983-5355154.png");
    background-size: 100% 100%;

    background-attachment: fixed;
   background-repeat: no-repeat;
   margin: 0; padding-bottom: 90px; 
    top: 0; left: 0;

    justify-content: center; align-items: center;

    font-family: 'Orbitron', sans-serif;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 50px;
}

.div > h3{
    display: flex;
    justify-content: center;
}

.panel{
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: fit-content; width: 93%;
    border:groove rgb(52, 109, 216) 15px;
    border-radius: 15px;
    margin-left: 33px;
    margin-bottom: 35px;
    margin-top: 35px;
    text-shadow: 1px 1px 2px rgb(14, 7, 41);
    box-shadow: 6px 8px 6px rgba(17, 17, 109, 0.651);
}

.filterDiv{
    font-size: 17px;
    color: rgb(230, 20, 20);
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 20px 20px;
}
.filterDiv2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.filterDiv3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 200px;
}

.loading{
    width: 300px;
}

input{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 2px 7px;
}

.reloadDiv{
    display: flex;
    flex-direction: column;  margin: 0px 5px;
}
.reloadImg{
    width: 150px;
    height: 210px;
}
.reloadButton{
    height: 33px;
    width: 130px;
    color: rgb(94, 23, 34);
    background-color: rgb(236, 170, 181);
    border: solid rgb(94, 23, 34) 4px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
}
.reloadButton:hover{
    height: 36px;
    width: 134px;
    color: rgb(94, 23, 34);
    background-color: rgb(126, 248, 126);
    border: solid rgb(54, 97, 238) 4px;
    font-size: large;
    box-shadow: 3px 4px 4px rgba(11, 11, 37, 0.699);
}

.paginationButton{
    color: rgb(94, 23, 34);
    background-color: rgb(236, 170, 181);
    border: solid rgb(94, 23, 34) 4px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    width: 35px; height: fit-content;
    margin: 1px 7px 12px;
}
.paginationButton:hover{
    color: rgb(94, 23, 34);
    background-color: rgb(126, 248, 126);
    border: solid rgb(54, 97, 238) 4px;
    box-shadow: 2px 2px 3px rgba(19, 19, 71, 0.822);
}

@media screen and (max-width: 800px) {
    .panel{
        flex-direction: column;
        width: fit-content; padding: 40px;
    }
    .cardContainer{
        grid-template-columns: repeat(2, 1fr);
        
        column-gap: 10px;
        grid-row-gap: 15px;
    }
    .filterDiv{
        flex-direction: column;
    }
    .filterDiv2{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .cardContainer{
        grid-template-columns: repeat(1, 1fr);
        
        column-gap: 5px;
        grid-row-gap: 7;
    }
}