.generalDiv{
    background-image: url("https://images3.alphacoders.com/757/757847.png");
    background-size:cover;
    position: relative; position: fixed;
    text-align: center;
    width: 100%; height: 45.6rem;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.catchem{
    position: absolute;
    color: black;
    padding: 5px; margin: 0;
    border: 0; background: none;
    border-radius: 10px;
    left: -13px; top: 2px;
    font-family: 'Orbitron', sans-serif;
    font-size: 19px;
}
.catchem:hover{
    color: rgb(10, 10, 204);
    text-shadow: 2px 3px 2px rgb(6, 6, 2);
    font-size: 20px;
}

.link{
    position: absolute;
    text-decoration: none;
    bottom: 80px;
    left: 250px;
    width:fit-content;
    margin: 0;
}


.blow{
    position: absolute;
    height: 325px;
    left: -120px; bottom: -190px;
    margin: 0; padding: 0;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}

.logo{
    position: absolute;
    left: 60px; top: 250px;
    width: 450px;
    transform: rotate(17deg);
}
/*     background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    justify-content: center;
    align-items:center;
    position: fixed;
    
    .blow{
    position: absolute;
    height: 250px;
    left: -90px; bottom: -90px;
    margin: 0; padding: 0;
}
    
    background-image: "https://www.clipartmax.com/png/full/38-386733_big-yellow-explosion-clip-art-at-clker-com-vector-clip-explosion-png.png";

    */